rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'fssmoura.fm@gmail.com';
    }
    
    match /thumbnails/{fileName} {
      allow read: if true;
      allow write, delete: if isAdmin();
    }
  }
}