.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100vw;
    height: fit-content;
    padding: 2rem 2.5rem;
    transition: all 0.3s ease;
    z-index: 10;
}

.navbar-container {
    flex: 1;
    display: flex;
    padding: 0.7rem 0;
    border-bottom: 1px solid rgb(var(--border));
}

.navbar-left {
    display: flex;
    justify-content: flex-start;
}

.navbar-logo {
    font-weight: 300;
}

.navbar-center {
    gap: 1.5rem;
    display: flex;
    justify-content: center;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

.navbar-theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    border: 1px solid rgb(var(--border));
    background: rgb(var(--background));
    color: rgb(var(--accent));
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.navbar-theme-toggle:hover {
    background: rgb(var(--accent));
    color: rgb(var(--background));
}