.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100vw;
    height: fit-content;
    padding: 2rem 2.5rem;
    transition: all 0.3s ease;
    z-index: 10;
}

.navbar-container {
    flex: 1;
    display: flex;
    padding: 0.7rem 0;
    border-bottom: 1px solid rgb(var(--border));
}

.navbar-logo-link,
.navbar-page-link,
.navbar-links a {
    text-decoration: none;
    color: inherit;
}

.navbar-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.navbar-logo {
    font-size: 0.8em;
    font-weight: 300;
    cursor: pointer;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}

.navbar-page {
    font-size: 0.8em;
    font-weight: 300;
    cursor: pointer;
    opacity: 0.6;
}

.navbar-page:hover {
    opacity: 1;
}

.navbar-page.active {
    opacity: 1;
}

.navbar-active-icon {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 1.1em;
    height: 1.1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M5 6h10l-5 9z'/%3E%3C/svg%3E");
    background-color: rgb(var(--accent));
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.navbar-page-link {
    position: relative;
    display: inline-block;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.navbar-theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-theme-toggle-btn {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M2 8a6 6 0 0 1 6-6v12a6 6 0 0 1-6-6'/%3E%3C/svg%3E");
    background-color: rgb(var(--accent));
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.navbar-theme-toggle-btn:hover {
    transform: rotate(180deg);
}

.navbar-links {
    display: flex;
    gap: 1rem;
}

.navbar-link {
    font-size: 0.8em;
    font-weight: 300;
    cursor: pointer;
    opacity: 0.6;
}

.navbar-link:hover {
    opacity: 1;
}