.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100vw;
    padding: 1rem 2.5rem;
    overflow: hidden;
}

.project-section {
    display: flex;
    height: 100%;
    padding: 1.5rem 0;
    color: rgb(var(--accent));
    border-top: 1px solid rgb(var(--border));
}

.project-section.left {
    width: 10%;
    justify-content: start;
}

.project-section.center {
    flex-direction: column;
    padding: 1.5rem 0;
    margin: 0 auto;
    height: 80vh;
    width: 80%;
    overflow: hidden;
}

.project-section.right {
    width: 10%;
    justify-content: end;
}

.project-back-btn {
    display: flex;
    align-items: center;
    height: fit-content;
    font-size: 0.8em;
    font-weight: 300;
    cursor: pointer;
    opacity: 0.6;
}

.project-back-btn:hover {
    opacity: 1;
}

.project-back-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M5 6h10l-5 9z'/%3E%3C/svg%3E");
    background-color: rgb(var(--accent));
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    transform: rotate(90deg);
    margin-right: 0.5rem;
}

.project-content {
    display: grid;
    height: 100%;
    width: 100%;
    gap: 1rem;
    overflow-y: auto;
    padding-bottom: 5vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.project-content::-webkit-scrollbar {
    display: none;
}

.project-block {
    display: flex;
    height: fit-content;
    border: 1px solid rgb(var(--border));
}

.project-bookmarks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.project-bookmark {
    position: relative;
    display: inline-block;
}

.bookmark-label {
    font-size: 0.8em;
    font-weight: 300;
    opacity: 0.6;
}

.bookmark-label:hover {
    opacity: 1;
}

.bookmark-label.active {
    opacity: 1;
}

.bookmark-active-icon {
    position: absolute;
    top: 50%;
    left: -1.7rem;
    transform: translateY(-50%) rotate(-90deg);
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M5 6h10l-5 9z'/%3E%3C/svg%3E");
    background-color: rgb(var(--accent));
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.project-back-btn a,
.project-bookmarks a {
    text-decoration: none;
    color: inherit;
}

/* ------------------------------------------------------------------------------------ Sections ------------------------------------------------------------------------------------------- */
/* ---------------------------------- Overview --------------------------------- */
.project-overview {
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

.project-overview-section {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: rgb(var(--accent));
}

.project-overview-tags {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.3rem;
}

.project-overview-tag {
    padding: 0.3rem 1.2rem;
    font-size: 14px;
    font-weight: 300;
    text-transform: lowercase;
    border: 1px solid rgb(var(--highlight));
    background: transparent;
    border-radius: 3rem;
    opacity: 1;
}

.project-overview-title {
    font-size: 3em;
    font-weight: 200;
}

.project-overview-subtitle {
    font-size: 0.8em;
    font-weight: 300;
    opacity: 0.6;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}