.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100vw;
    padding: 1rem 2.5rem;
    overflow: hidden;
}

.project-section {
    display: flex;
    height: 100%;
    padding: 1.5rem 0;
    color: rgb(var(--accent));
    border-top: 1px solid rgb(var(--border));
}

.project-section.left {
    width: 10%;
    justify-content: start;
}

.project-section.center {
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    height: 80vh;
    width: 80%;
    overflow: hidden;
}

.project-section.right {
    width: 10%;
    justify-content: end;
}

.project-back-btn {
    display: flex;
    align-items: center;
    height: fit-content;
    font-size: 0.8em;
    font-weight: 300;
    cursor: pointer;
    opacity: 0.6;
}

.project-back-btn:hover {
    opacity: 1;
}

.project-back-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M5 6h10l-5 9z'/%3E%3C/svg%3E");
    background-color: rgb(var(--accent));
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    transform: rotate(90deg);
    margin-right: 0.5rem;
}

.project-content {
    display: grid;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 5vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-right: 1px solid rgb(var(--border));
    border-bottom: 1px solid rgb(var(--border));
    border-left: 1px solid rgb(var(--border));
}

.project-content::-webkit-scrollbar {
    display: none;
}

.project-block {
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.project-bookmarks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.project-bookmark {
    position: relative;
    display: inline-block;
}

.bookmark-label {
    font-size: 0.8em;
    font-weight: 300;
    opacity: 0.7;
}

.bookmark-label:hover {
    opacity: 1;
}

.bookmark-label.active {
    opacity: 1;
}

.bookmark-active-icon {
    position: absolute;
    top: 50%;
    left: -1.7rem;
    transform: translateY(-50%) rotate(-90deg);
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M5 6h10l-5 9z'/%3E%3C/svg%3E");
    background-color: rgb(var(--accent));
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.project-back-btn a,
.project-bookmarks a {
    text-decoration: none;
    color: inherit;
}

/* ------------------------------------------------------------------------------------ Sections ------------------------------------------------------------------------------------------- */
/* ---------------------------------- Overview --------------------------------- */
.project-overview {
    flex-direction: column;
}

.project-overview-section {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(var(--accent));
}

.project-overview-title {
    width: 100%;
    font-size: 5em;
    font-weight: 500;
    padding: 8rem 15rem 2rem;
    border-bottom: 1px solid rgb(var(--border));
}

.project-overview-underline {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 15rem;
    border-bottom: 1px solid rgb(var(--border));
}

.project-overview-underline-section {
    display: flex;
    gap: 0.5rem;
    font-size: 0.9em;
    font-weight: 300;
    padding: 1.5rem 0;
    color: rgba(var(--accent), 0.7);
}

.project-overview-underline-section.subtitle {
    padding-right: 1.5rem;
}

.project-overview-underline-section.tags {
    gap: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-left: 1px solid rgb(var(--border));
    text-transform: lowercase;
}

.project-overview-underline-section.tools {
    gap: 1rem;
    padding-left: 1.5rem;
    border-left: 1px solid rgb(var(--border));
    text-transform: lowercase;
}

.project-overview-tag:hover,
.project-overview-tool:hover {
    color: rgb(var(--accent));
    cursor: pointer;
}

.project-overview-description {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 15rem 45rem;
    border-bottom: 1px solid rgb(var(--border));
}

.project-overview-description p {
    font-size: 1em;
    font-weight: 200;
    line-height: 2;
    max-width: 65%;
    word-break: keep-all;
    white-space: normal;
}

.project-overview-thumbnail {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.project-overview-thumbnail-img {
    position: absolute;
    bottom: 0;
    height: fit-content;
    overflow: hidden;
    padding: 0 20rem;
}

.project-overview-thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(45%);
    transition: transform 0.1s ease-out;
    box-shadow: 0 4px 15rem 5rem rgba(var(--shadow), 1);
}

/* ---------------------------------- Dynamic Section --------------------------------- */
.project-dynamic-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 12rem;
    border-bottom: 1px solid rgb(var(--border));
}

.project-dynamic-section .quadrant {
    display: flex;
}

.project-dynamic-section .top-left,
.project-dynamic-section .bottom-left {
    width: 20rem;
    justify-content: flex-end;
    padding-right: 1rem;
    border-right: 1px solid rgb(var(--border));
}

.project-dynamic-section .top-right,
.project-dynamic-section .bottom-right {
    width: calc(100% - 20rem);
    justify-content: flex-start;
    padding-right: 15rem;
    padding-left: 1rem;
}

.project-dynamic-section .top-left,
.project-dynamic-section .top-right {
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid rgb(var(--border));
    border-bottom: 1px solid rgb(var(--border));
}

.project-dynamic-section .bottom-left,
.project-dynamic-section .bottom-right {
    padding-top: 1rem;
    padding-bottom: 12rem;
}

.project-dynamic-id,
.project-dynamic-title {
    font-size: 1.1em;
    font-weight: 300;
    color: rgba(var(--accent), 0.7);
}

.project-dynamic-description {
    font-size: 1em;
    font-weight: 200;
    line-height: 2;
    max-width: 70%;
    color: rgb(var(--accent));
    word-break: keep-all;
    white-space: normal;
}

/* ---------------------------------- Img Attachment --------------------------------- */
.project-dynamic-attachment {
    height: fit-content;
    border-bottom: 1px solid rgb(var(--border));
    line-height: 0;
}

.project-attachment-image {
    display: block;
    width: 100%;
}

.project-attachment-image img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}